<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data of users</title>
    <style>
      table,
      tr,
      th,
      td {
        border: 1px solid rgb(73, 34, 28);
      }
    </style>
  </head>
  <body>
    <center>
      <table>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
        </tr>

        <% for(user of userData) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <form method="GET" action="/user/<%= user.id %>/edit">
              <button>Edit</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </center>
  </body>
</html>
