* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    padding: 3px;
}

.new-chat-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
}

.new-chat {
    background-color: #3B322C;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    border-radius: 5px;
}

.chat-box {
    height: 100%;
    width: 50%;
    border: 1px solid rgb(76, 5, 94);
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
}

.msg-box {
    border: 1.4px solid rgb(163, 25, 25);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}