#calc-boundary {
    border: 1px solid black;
    width: 300px;
    border-radius: 5px;
}

#calc-screen {
    margin: 10px;
    width: 280px;
    font-size: 45px;
}

input {
    text-align: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#calc-buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.calc-buttons {
    width: 75px;
    height: 65px;
    margin: 3px;
    font-size: 35px;
}
