<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <h3><%= 1 + 2 %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus dolores
      delectus facilis sit sed iste vitae rerum ipsam velit dignissimos, iure
      temporibus alias voluptatum quam quos eligendi, rem molestiae architecto.
    </p>
    <button>click me!</button>
  </body>
</html>
